@charset "UTF-8";

/*
 *   Document   : css
 *   Auteur     : Lionel Lebon
 *   Projet     : Style par défaut
 *   Description:
 *       Feuille de style du site.
 *
 */

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Fonts
-------------------------- */

$font-main: 'PT Sans', 'Open Sans', Helvetica, Arial, sans-serif;
$font-title: 'Lato', Helvetica, Arial, sans-serif;

/* Basic colors
-------------------------- */

$color-main: #666666;
$color-border: rgba(204, 204, 204, 0.5);
$color-link: #0e0e0e;

/* Size and width
-------------------------- */

$content-width: 75rem;

$mini: 380px;
$mobile-max: 599px;
$tablet-min: 600px;
$tablet-max: 1299px;
$desktop-min: 1300px;
$desktop-max: 1599px;
$large-min: 1600px;

$mobile_only: "max-width:"+$mobile-max;
$mobile_excluded: "min-width:"+$tablet-min;
$desktop_excluded: "max-width:"+$tablet-max;
$desktop_only: "min-width:"+$desktop-min;
$large_excluded: "max-width:"+$desktop-max;
$large_only: "min-width:"+$large-min;

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */

@import "base";

/* ----------------------------------------------------------
  Front-End
---------------------------------------------------------- */


