@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background: #efefef;
}

/* See also https://tailwindcss.com/docs/adding-custom-styles */
@layer components {
  a {
    @apply underline text-green-900 focus:outline-none focus:ring-2 focus:ring-green-900;
  }

  section {
    @apply space-y-8;
  }

  .card {
    @apply container max-w-4xl p-10 mx-auto bg-gray-50 border-gray-100 rounded-2xl shadow-sm;
  }

  .card-details {
    @apply text-base italic;
  }

  .title-emphasis {
    @apply underline underline-offset-4 decoration-8 decoration-green-900;
  }

  .icon-link {
    @apply text-gray-700 w-11 h-11 rounded-full bg-gray-50 shadow hover:bg-[#dfdfdf] hover:border-gray-300 hover:border hover:border-solid transition flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-green-900;
  }
}
