Options -Indexes

AddDefaultCharset utf-8

# Maintenance
# To activate the maintenance mode, you must uncomment the following lines, changing the URL and
# replace the IP with your own (cf. http://monip.org)
#RewriteCond %{REQUEST_URI} !/maintenance.html$
#RewriteCond %{REMOTE_ADDR} !127.0.0.1
#RewriteRule .* http://hennek.be/maintenance.html [L]

# URL rewriting
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    Options +FollowSymlinks
#    RewriteCond %{HTTP_HOST} ^www.hennek.be$
#    RewriteRule ^(.*) http://hennek.be/$1 [QSA,L,R=301]
#    RewriteRule ^([a-zA-Z0-9\_\-]+)/?([a-zA-Z0-9\-\_]+)?/?([a-zA-Z0-9\-\_]+)?/?([a-zA-Z0-9\-\_]+)?/?([a-zA-Z0-9\-\_]+)?/?$    index.php?mod=$1&cat=$2&id=$3&sid=$4&ssid=$5 [QSA,L]
#</IfModule>

# Some rules about file type
AddType text/plain .asc

# Forbidden access for some directories
<Files ".htaccess">
    Order Allow,Deny
    Deny from All
</Files>

#<IfModule mod_headers.c>
#    # Mise en cache des images et autres fichier statiques pour un mois
#    <FilesMatch ".(ico|jpe?g|png|gif|swf|flv|css|js|gz|pdf|ttf)$">
#        Header set Cache-Control "max-age=2592000"
#    </FilesMatch>
#
#    # Mise en cache du css et du js pour 1 semaine
#    <filesMatch ".(css|js)$">
#        Header set Cache-Control "max-age=604800"
#    </filesMatch>
#
#    # Mise en cache du html et xml pour 12 heures
#    <filesMatch ".(html|htm|xml)$">
#        Header set Cache-Control "max-age=43200"
#    </filesMatch>
#
#    # Désactive la mise en cache pour les fichier PHP et CGI
#    <FilesMatch ".(php|cgi)$">
#        Header unset Cache-Control
#    </FilesMatch>
#</IfModule>
